.btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary{
    background-color: var(--color-1);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

